<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let item of items">
      <div
        class="content-item p-3 mb-4 border border-danger rounded custom-content-item"
        (click)="onItemClick(item.title)"
      >
        <!-- Contenido del cuadro -->
        <h3 class="text-center mb-3">{{ item.title | uppercase }}</h3>
        <p>{{ item.description }}</p>
        <!-- Reproductor de video -->
        <div class="embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" controls>
            <source [src]="item.video" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Mostrar los items seleccionados -->
<div class="container mt-4">
  <h3>Contenido Seleccionado</h3>
  <ul>
    <li *ngFor="let selectedItem of selectedItems">{{ selectedItem }}</li>
  </ul>
</div>

<!-- Muestra los datos en la página HTML -->
<pre>{{ items | json }}</pre>

